<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lists.</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <%- include('./partials/header') %>
       
    </header>
        <h1>Random Selection</h1>
    <div>

    </div>

    <!--Add List-->

    <form id="createForm" action="/items/add" method="POST"> 
        <input type="text" name="name" placeholder="Item name" required>
        <input type="text" name="description" placeholder="Item description" required>
        <button type="submit">Create Item</button>
    </form>

    <!--Update/Save -->

    <form id="updateForm" action="/items/update/:id" method="POST">
      <input type="hidden" name="_id" id="updateId">
      <input type="text" name="name" id="updateName" placeholder="New item name" required>
      <input type="text" name="description" id="updateDescription" placeholder="New item description" required>
      <button type="submit">Save changes</button>
    </form>

    <!-- Display Items -->
    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
        <ul id="itemList" class="list-group w-25">
            <% items.forEach((item) => { %>
                <li class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                          <h6 class="mb-0"><%= item.name %></h6>
                          <p class="mb-0 opacity-75"><%= item.description %></p>
                            
                          <button type="button" class="btn btn-primary" onClick="editItem('<%= item._id %>', '<%= item.name %>', '<%= item.description %>')">Edit</button>
                          <button class="" onClick="deleteItem('<%= item._id %>')">Delete</button>
                         
                        </div>
                      </div>
                </li>
            <% }); %> 
        </ul>
      </div>

    <footer>
        <%- include('./partials/footer') %>
    </footer>   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>

</body>
</html>